name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: lts/iron
          registry-url: "https://registry.npmjs.org"

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Update NPM
        run: npm i -g npm@latest

      - name: Create Release Pull Request or Publish to NPM
        id: changesets
        uses: ryanbas21/action@5525a5cc0b094ee6a76ae43dee1ba06f2a04d3b2 # Workaround for now...
        with:
          publish: pnpm release
          commit: "chore: version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
